* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header {
    width: 100%;
    height: 20vh;
    background-color: #fe4e00 ;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
}

.home {
    margin-top: 10px;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    padding-top: 30px;
    padding-left: 30px;
    color: white
}

.fotos {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
}

.lema {
    padding-left: 120px;
    color: white;
}

body {
    background-color: #741012;
    overflow-x: hidden;
}

h3 {
    padding-left: 155px;
    padding-top: 50px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fazerpedido {
    text-decoration: none;
    color: #fff;
    font-size: 19px;
}

.feijoada {
    margin-top: 100px;
    margin-left: 25px;
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    height: 45px;
    padding-left: 30px;
    font-size: larger;
}

.fundofeijoada {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 10px;
    width: 100%;   
    max-width: 1225px;
    height: 600px;
    background-color: #F5C30F;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 100px;
}

.divtext {
    margin-bottom: 2rem;
}

.textfeijoada {
    font-size: 30px;
}

.ingfeijoada {
    margin-bottom: 2rem;
}

.link1 {
    background: #000;
    width: 120px;
    height: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    transition: all .2s ease-in-out;
}

.encomendar {
    text-decoration: none;
    color: #fff;
}

.link1:hover {
    background-color: #303030;
    width: 130px;
    height: 40px;
    font-size: 18px;
    transition: all .2s ease-in-out;
}

.feijoadaft {
    width: 400px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.foto-frf {
    display: flex;
    justify-content: center;
    align-items: center;
}

.farofaft {
    width: 300px;
    object-fit: cover;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
}

.feijoadaft:hover {    
    transform: rotate(-10deg); 
}

a {
    text-decoration: none;
    color: #fff;
}


.txtprodutos{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 90vw;
   
    font-size: 30px;
    color: white;
}

footer{
    display: flex;
    justify-content: space-between;
    center-align: center;

    background-color: #e67f0d;
    width: 100%;
    margin: 0 auto;
    height: 150px; 

}

.txtcontatos{
    
}

.slogan{
    margin-left: 2rem;
    margin-top: 2rem;
}

.fundotxt{
  font-size: 18px;
}

.fundop{
    font-weight: bold;
    padding-left: 5rem;
    
}

.contato{
    margin-right: 2rem;
    margin-top: 2rem;
}

.fundopcontato{

    font-weight: bold;
}



@media (max-width: 768px) {
    header {
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  
    .home {
      flex-direction: row;
      gap: 0.5rem;
    }

    .lema {
        margin-left: 2rem;
        color: white;
    }
  
    h1 {
      padding-top: 20px;
      padding-left: 20px;
      font-size: 1.5rem;
    }
  
    .fotos {
      width: 100vw;
    }
  
    .lema {
      padding-left: 20px;
    }
  
    h3 {
      padding-left: 20px;
      padding-top: 30px;
    }
  
    .title {
      
    }
  
    .feijoada {
      margin-top: 50px;
      margin-left: 0;
      width: 100%;
      height: 60px;
      padding-left: 20px;
    }
  
    .fundofeijoada {
      
    }
  
    .info {
    
    }
  
    .txtprodutos {
  
    }
  }
  